<footer class="bg-tiefblau p-y-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
        <h3 class="m-b-1">
          Kontakt
        </h3>
        <address>
          <h2>Ingendaay</h2>
          <p>Kurfürstendamm 66<br />
             10707 Berlin</p>
          <p>Fon: +49 (0)30 88 91 31 - 12<br />
             Fax: +49 (0)30 88 91 31 - 13<br />
             <a href="javascript:;">ingendaay@vnem.de</a></p>
        </address>
      </div>

      <div class="col-lg-4 col-sm-4">
        <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
          <h3 class="m-b-1">
            So finden Sie uns
          </h3>
          <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.8049640154145!2d13.307441316038483!3d52.500769979810606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a850e63e61e1af%3A0x2e2db708c8ee4119!2sKurf%C3%BCrstendamm+66%2C+10707+Berlin!5e0!3m2!1sde!2sde!4v1449931729884" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="text-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">
          <h3 class="m-b-1">
            Weitere Informationen
          </h3>
          <ul>
            <li><a href="impressum">Impressum</a></li>
            <li><a href="datenschutz">Datenschutz</a></li>
            <li>&copy 2016 Ingendaay</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->



</body>
</html>


<!-- js placed at the end of the document so the pages load faster
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<!-- <script src="assets/bxslider/jquery.bxslider.min.js"></script> -->
<script src="assets/unslider/unslider-min.js"></script>


<script src="js/wow.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  new WOW().init();

  // $('.bxslider').bxSlider({
  //
  // });
  var mySwiper = new Swiper ('.swiper-container', {
      // Optional parameters
      loop: true,
      pagination: '.swiper-pagination',
       paginationClickable: true,
       autoplay: 4000,
    })

	$('<i id="back-to-top"></i>').appendTo($('body'));

		$(window).scroll(function() {
			if($(this).scrollTop() != 0) {
				$('#back-to-top').fadeIn();
			} else {
				$('#back-to-top').fadeOut();
			}
		});

		$('#back-to-top').click(function() {
			$('body,html').animate({scrollTop:0},600);
		});
    /* Scroll navbar */
    $('.navbar ul li a').click(function(e) {
      // prevent default anchor click behavior
      e.preventDefault();

      // store hash
      var hash = this.hash;
      // animate
      $('html, body').animate({
        scrollTop: $(hash).offset().top - 90
      }, 600, function(){

      // when done, add hash to url
      // (default click behaviour)
      window.location.hash = hash;
    });
});

});

</script>

<!-- <script type="text/javascript" src="js/hover-dropdown.js"></script> -->
<!-- <script defer src="js/jquery.flexslider.js"></script>  -->
<!-- <script type="text/javascript" src="assets/bxslider/jquery.bxslider.js"></script> -->

<!-- <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script> -->
<!-- <script src="assets/owlcarousel/owl.carousel.js"></script> -->

<!-- <script src="js/jquery.easing.min.js"></script> -->
<!-- <script src="js/link-hover.js"></script> -->
<!-- <script src="js/superfish.js"></script>
<script type="text/javascript" src="js/parallax-slider/jquery.cslider.js"></script> -->
<!-- <script type="text/javascript">
  $(function() {

    $('#da-slider').cslider({
      autoplay    : true,
      bgincrement : 100
    });

  });
</script> -->



<!--common script for all pages-->
<!-- <script src="js/common-scripts.js"></script> -->



<!-- <script>
  // $('a.info').tooltip();

  // $(window).load(function() {
  //   $('.flexslider').flexslider({
  //     animation: "slide",
  //     start: function(slider) {
  //       $('body').removeClass('loading');
  //     }
  //   });
  // });

  // $(document).ready(function() {
  //
  //   $("#owl-demo").owlCarousel({
  //
  //     items : 4
  //
  //   });
  //
  // });

  // jQuery(document).ready(function(){
  //   jQuery('ul.superfish').superfish();
  // });

  new WOW().init();


</script> -->
