/*
 * Globals
 */
body {
  color: #797979;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
}
b {
  color: $color_gold;
}
.brand-color {
  background-color: $color-weiss;
}
.carousel-item img {
  width: 100%;
  height: 450px !important;
}
.navbar-brand {
  color: $color_gold !important;
  line-height: 0 !important;
  font-weight: 900 !important;
  font-size: 42px !important;
  font-family: 'Playfair Display', serif;
}
nav {
  background: #ffffff;
  height: 96px;
}
.overlay {
   background:transparent;
   position:relative;
   width:800px;
   height:800px; /* your iframe height */
   top:300px;  /* your iframe height */
   margin-top:-300px;  /* your iframe height */
}
a, a:hover, a:focus {
  color: $color_anthrazit !important;
  text-decoration: none;
  outline: none;
}
a[href^="mailto"] {
  color: $color_gold !important;
}
.center-container {
  display: table;
  width: 100%;
  margin: 0;
}
.center-row {
  width: 100%;
  display: table-row;
}
.center-row > div {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
.navbar .nav-item a:hover, .nav li a:hover {
  border-bottom: 1px solid $color_gold;
}
.bg-signalrot {
  background-color: $color_signalrot;
  h1,
  h2,
  h3,
  p {
    color: #fff;
  }
}
.bg-tiefblau {
  background-color: $color_tiefblau;
  h1,
  h2,
  h3,
  p {
    color: $color_gold;
  }
}
.bg-hellgrau {
  background-color: $color_hellgrau;
}
.text-center {
  text-align: center;
}
#rechtsanwaelte {
  img {
    width: 99%;
  }
  .card-block {
    padding: 0.25rem 1.25rem;
  }
}
#kanzlei {
  h1 {
    color: $color_gold;
  }
}
.tab-pane h4 {
  color: $color_gold;
  padding-bottom:1rem;
}
footer {
  h3,
  p,
  a {
    color: #fff !important;
  }
  h2, h4 {
    color: $color_gold !important;
  }
}
.anwalt {
  float:left;
  width:70%;

}
img {
  float:right;
}
.anwalt ul {
  padding-left:1rem;
}
.swiper-container {
  margin-top: 84px !important;
  background: $color_tiefblau;
  padding-left: 0;
  padding-right: 0;
  img {
    width:100%;

  }
}
.swiper-pagination-bullet-active {
  background: $color_signalrot !important;
}
#kontakt + .google-maps {
  position: relative;
  padding-bottom: 300px; // This is the aspect ratio
  height: 300px;
  overflow: hidden;
}
footer .google-maps {
  position: relative;
  padding-bottom: 200px; // This is the aspect ratio
  height: 200px;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.form-control {
  background-color: $color_hellgrau;
  color: $color_anthrazit;
}
footer ul {
  list-style-type: none;
  color: #fff;
  padding-left: 0;
}
ul {
  list-style-image: url("../img/Pfeil.png");
}
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
  background-color: #fff;
  border-bottom: 1px solid $color_gold;
}
.nav-pills .nav-link {
  display: block;
  padding: 0.1rem 0;
  border-radius: 0;
}
.navbar-nav {
  margin-top: 36px;
  .nav-item+.nav-item {
    margin-left: 2rem;
  }
}
.half {
  background: url(../img/bg.jpg);
    background-size: 100% 100%;
    background-repeat: repeat-x;
}
