<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <nav class="navbar navbar-fixed-top">
    <div class="container">

      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">Ingendaay</a>
    </div>
  </nav>


  <div class="bg-tiefblau" style="margin-top:96px">
    <div class="container p-y-3 ">
      <div class="text-center">
        <h2>{{page.title}}</h2>
      </div>
    </div>
  </div>
  <div class="container p-y-3">
    <div class="row">
      <div class="col-xs-12">
        {{content}}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
